.stColumn  {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;

}

.diagnosis{
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.diagnosis.benign{
    background-color: darkgreen;

}


.diagnosis.malignant{
    background-color: darkred;

}